<!--
/*
 * 
 * Copyright © 2018 EC.on Sistemas <econ@econ.com.br>
 * 
 * Este arquivo é parte do programa "Motor Pro"
 * 
 * Sistema MotorPro é um software livre; você pode redistribuí-lo e/ou 
 * modificá-lo dentro dos termos da Licença Pública Geral GNU como 
 * publicada pela Fundação do Software Livre (FSF); na versão 3 da 
 * Licença, ou (a seu critério) qualquer versão posterior.
 * 
 * Este programa é distribuído na esperança de que possa ser  útil, 
 * mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO
 * a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a
 * Licença Pública Geral GNU para maiores detalhes.
 * 
 * Você deve ter recebido uma cópia da Licença Pública Geral GNU junto
 * com este programa, Se não, veja <http://www.gnu.org/licenses/>.
 * 
 */
-->
<script>
    $(document).ready(function () {

        $("#inputNome").keyup(function () {
            $.post("{PHP_SELF}", {verifica: $("#inputNome").val(), ID: $("#ID").val(), estado: $("#estado").val()}).done(function (data) {
                if (data == 'true') {
                    $(".existe").removeClass('hide');
                } else {
                    $(".existe").addClass('hide');
                }
            });
        });


        $("#inputNome").focus();
    });
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="addModalLabel">Cadastro de produto</h4>
    <input type="hidden" name="id" value="{ID}" />
</div>
<div class="modal-body">
    <p><span class="text-danger"><b>*</b></span> Campos obrigatórios</p>
    <br />
    <div class="form-group">
        <label for="inputDescricao">Descrição <span class="text-danger"><b>*</b></span></label>
        <input type="text" class="form-control" id="inputDescricao" name="descricao" value="{DESCRICAO}" required="required" />
    </div>
    <div class="form-group">
        <label for="inputValor">Valor <span class="text-danger"><b>*</b></span></label>
        <input type="text" class="form-control" id="inputValor" name="valor" value="{VALOR}" required="required" />
    </div>
    <div class="form-group">
        <label for="inputValorVenda">Valor de venda <span class="text-danger"><b>*</b></span></label>
        <input type="text" class="form-control" id="inputValorVenda" name="valor_venda" value="{VALOR_VENDA}" required="required" />
    </div>
    <div class="form-group">
        <label for="inputQuantidade">Quantidade <span class="text-danger"><b>*</b></span></label>
        <input type="text" class="form-control" id="inputQuantidade" name="quantidade" value="{QUANTIDADE}" required="required" />
    </div>
    <div class="form-group">
        <label for="inputEstoqueMinimo">Estoque mínimo <span class="text-danger"><b>*</b></span></label>
        <input type="text" class="form-control" id="inputEstoqueMinimo" name="estoque_minimo" value="{ESTOQUE_MINIMO}" required="required" />
    </div>
    <div class="form-group">
        <label for="inputMarca">Selecione a marca: </label>
        <select class="form-control" id="marca" name="marca" >
            {OPTION_MARCA}
        </select>
    </div>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-primary" name="{BOTAO}">Salvar</button>
</div>